<html>
	<head>
		<title>Twilio Client</title>
		<script type="text/javascript" src="js/lib/twilio.js"></script>
		<script type="text/javascript" src="js/lib/twilio-chat-min.js"></script>
		<script type="text/javascript" src="js/lib/twilio-common-min.js"></script>
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
		<script type="text/javascript" src="js/lib/jquery.min.js "></script>
		<script type="text/javascript" src="js/lib/angular.min.js "></script>
		<script type="text/javascript" src="js/lib/v3.3.7bootstrap.min.js"></script>
		<!-- Angular Material requires Angular.js Libraries -->
		<script type="text/javascript" src="js/lib/angular-route.js"></script>
		<script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-aria.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-messages.min.js"></script>
		<!-- Angular Material Library -->
		<script type="text/javascript" src="js/lib/angular-material.min.js"></script>
		<script type="text/javascript" src="js/lib/taskrouter.js"></script>
		<script type="text/javascript" src="js/twilio-client.js"></script>
		<link href="css/client.css" type="text/css" rel="stylesheet" />
		<link href="css/angular-material.min.css" type="text/css" rel="stylesheet" />
		<link href="css/v4.0.0alphabootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="css/material-icon.css" type="text/css" rel="stylesheet" />
		<script>if (window.module) module = window.module;</script>
	</head>
	<body class="bodycolor" ng-app="agent">
		<div class="container" ng-controller="agentLoginController">
				<div class="panel panel-default" ng-show="!loggedIn">
						<div class="panel-body">
							<div class="twilio-client">
								<div class="logo">
									<img src="./img/logo.png" height="70px" width="65px"/>
										<h3>U360</h3>
									</div>
									<div class="input-group">
										<md-content class="md-padding" layout-xs="column" layout="row">
											<div flex-xs flex-gt-xs="50" layout="column" class="mainpage">
												<md-card>
													<md-input-container md-no-float class="md-icon-float md-block username">
														<input ng-model="workerName" id="workerName" placeholder="Name">
														</md-input-container>
														<md-input-container md-no-float class="md-block password">
															<input ng-model="password" type="password" placeholder="Password">
															</md-input-container>
															<md-button class="md-raised loginbtn" ng-click="initiateTwilio()">Login</md-button>
															<div>{{errorMessage}} </div>
															<div ng-show="!notLogin">
                                {{log}}
                                
																<span id="log"></span>
															</div>
														</md-card>
													</div>
												</md-content>
											</div>
										</div>
									</div>
					</div>

                   <div class="panel panel-default" ng-show="loggedIn">
									<div ng-cloak class="mainagent">
										<md-content class="md-padding">
											<div class="agentinfo" layout="row">
												<div class="flex-15">
													<img src="./img/person3.png" width="40px" height="35px">
													</div>
													<div class="flex-30">
														<h5>{{worker.friendlyName}}</h5>
														<span class="agentstatus">{{activity}}</span>
														<!--<span class="agentstatus">{{worker.activityName}}</span>-->
													</div>
												</div>
											</md-content>
                                            <md-tabs md-dynamic-height class="workflow" md-stretch-tabs="always">
												<div ng-include src="'inbound.html'"></div>
												<div ng-include src="'outbound.html'"></div>
											</md-tabs>
									</div>
                   </div>
				</div>
	</body>
</html>